/* BASE CONTENT STYLES
====================================*/
#content {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;

    @include media(">=tablet"){
        width: 60%;
        max-width: 850px;
    }

    /*article {
        @include media(">=tablet"){
            &>section {
                width: 60%;
            }
            &>aside {
                width: 40%;
                float: right;
            }
        }
    }*/

    .thick:last-of-type:not(.index-buff),
    .thin:last-of-type {
        display: none;
    }
}

.entry-summary {
    p {
        font-size: 1em;
        color: #424747;
        line-height: 1.6em;
        font-weight: 400;
        margin: 20px 0;
    }
}

.entry-title {
    color: #14435D;
    font-weight: 700;
    margin: 25px 5% 0 0;

    a {
        color: #333;
        text-decoration: none;
        font-family: "futura-pt", helvetica, san-serif;

        &:hover {
            color: #404040;
            text-decoration: underline;
        }
    }
}

.entry-meta {
    margin: 0 5% 1em 0;
    width: 100%;

    .author,
    .entry-date {
        font-size: .9em;
        font-family: "futura-pt", helvetica, san-serif;
    }

    &>div:first-of-type span {
        color: #666;
    }
}

.post-edit-link {
    margin: 0 5%;
    font-size: 1.5em;
}

.entry-content {
    width: 100%;
    overflow: hidden;

    ul, ol {
        margin-left: 5%;

        &>li {
            list-style-type: square;
        }
    }   
}

.project-container {
    margin: 0 auto;
    width: 100%;
    flex-flow: row wrap;

    .project-item {
        width: 100%;
        margin-bottom: 2rem;

        @include media(">=desktop"){
            width: 45%;
            margin-right: 5%;
        }

        h2 {
            font-size: 1.2rem;
            margin: 0;

            a {
                font-size: inherit;
                font-weight: inherit;

                i {
                    padding-left: 2%;
                    font-size: 1rem;
                    color: #666;
                }
            }
        }

        p.meta {
            color: #aaa;
            font-size: .9em;
            margin: 0;
        }

        p.tags {
            margin: 0;
        }

        p a {
            font-size: 1rem;
        }
    }
}

.entry-footer {
    font-size: 1rem;
    width: 100%;
    border-top: $grayLiteColor solid 2px;
    font-weight: 400;
}