/**
* #.# Base Content Styles
*
* Base styles for all index, single, page templates
*/

#content {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;

    @include media(">=tablet"){
        width: 60%;
        max-width: 850px;
    }

    header {
        padding-bottom: 1em;
    }
}


.entry-title {
    text-transform: uppercase;
}

.entry-meta {

    .author,
    .entry-date {

    }
}

.post-edit-link {
    margin: 0 5%;
    font-size: 1.5em;
}

.entry-content {
 
}

.entry-footer {

}

