/**
* #.# Directory Styles
*
* For the serious games directory
*/

#content[role="directory"] {
    @include media(">=tablet") {
        width: 80%;
        max-width: initial;
    }
}

.directory-segment {
    width: 100%;
    max-width: 1000px;
}

.directory-segment[role="update"]{
    margin-bottom: 2em;

    @include media(">=tablet") {
        width: 75%;
        margin: 0 auto;
        max-width: 650px;
    }

    h2 {
        margin-bottom: 0;
        font-size: 5rem;
        color: $oldColor;
    }

    h3 {
        margin-top: 0;
        color: $oldColor;
    }
}

.directory-segment[role="content"]{
    @include media(">=tablet") {
        width: 75%;
        margin: 0 auto;
        max-width: 650px;
    }
}

.directory-segment[role="key"]{
    overflow: hidden;
    padding-bottom: 1em;
    border-bottom: 1px solid $grayLiteColor;

    div[role="genres"]{
        @include media(">=tablet") {
            float: left;
            width: 75%;
            column-count: 3;
        }
    }

    div[role="icons"]{
        @include media(">=tablet") {
            float: right;
            width: 25%;
        }
    }

    .directory-key {
        img {
            width:15px;
            padding-right: 5px;
        }

        span {
            font-size: 1rem;
        }
    }
}

.directory-segment[role="table"]{
    table {
        display: table;
        width: 100%;

        thead {
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
        }

        th {
            width: 33%;
            padding: .5em 0;
            text-transform: uppercase;
    
            &[role="icons"],
            &[role="year"] {
                display: none;
            }

            @include media(">=desktop") {
                width: 28.3333333333%;

                &[role="icons"] {
                    display: table-cell;
                    width:15%;
                }
            }

            @include media(">=1280px") {
                width: 25%;

                &[role="icons"] {
                    display: table-cell;
                }
            }
            
        }

        td {
            padding: .5em 0;
            font-size: 1rem;
    
            &[role="icons"],
            &[role="year"] {
                display: none;
            }

            @include media(">=desktop") {
                &[role="icons"] {
                    display: table-cell;
                }
            }
        }

        tbody {
            tr {
               border-bottom: 1px solid $grayLiteColor;
            }

            img {
                width: 25px;
                padding-right: 5px;
            }
        }
    }
}

