/* IMPORT FONTS
====================================*/
@mixin importFont($font, $src, $weight, $style){
	@font-face {
		font-family: $font;
		src: url($src);
		@if $weight != 400 {
			font-weight: $weight;
		} 
		@if $style != 'norm'{
			font-style: $style;
		}
	}

}

@include importFont('crim', 'styles/fonts/Crimson_Text/CrimsonText-Roman.ttf', 400, 'norm');
@include importFont('crim', 'styles/fonts/Crimson_Text/CrimsonText-Bold.ttf', 700, 'norm');
@include importFont('crim', 'styles/fonts/Crimson_Text/CrimsonText-Italic.ttf', 400, italic);
@include importFont('Cabin', 'styles/fonts/Cabin/Cabin-Regular.ttf', 400, 'norm');
@include importFont('Cabin', 'styles/fonts/Cabin/Cabin-SemiBold.ttf', 600, 'norm');
@include importFont('Cabin', 'styles/fonts/Cabin/Cabin-Bold.ttf', 700, 'norm');
@include importFont('Cabin', 'styles/fonts/Cabin/Cabin-Italic.ttf', 400, italic);