/* FOUNDATION STYLES
====================================*/

html,
body {
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "futura-pt", helvetica, san-serif;
    color: $darkBkg;
}

h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    a {
        font-size: inherit;
    }
}

h2 {
    margin: 25px 0;
    font-size: 2em;
    font-weight: 700;
    a {
        font-family: "futura-pt", helvetica, san-serif;
    }
}

h3 {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 700;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
span,
li,
{
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
    margin-bottom: 1em;
    line-height: 1.4em;
    font-size: 1.2rem;
    color: $darkBkg;
}

input {
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
}

ul {
    margin: 0 0 0 5%;
}

a {
    font-size: 1.2rem;    
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
    text-decoration: none;
    color: $darkBkg;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $grayColor;
        h2 {
            color: $grayColor;
        }
    }
    h2 {
        color: #14435D;
    }
}

#wrapper {
    margin-top: 40px;
}

blockquote {
    margin: 0 10%;
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
    @include media(">=tablet") {
        margin: 40px 10%;
    }
}


/* GENERAL CLASS STYLES
====================================*/

.button-container {
    margin: 0 auto;
}

.button {
    padding: 1em;
    background: #fff;
    cursor: pointer;
    margin: 0px auto;
    height: 20px;
    float: left;
    border: 3px solid $darkBkg;
    position: relative;
    z-index: 10;
    color: #fff;
    text-transform: lowercase;

    &:after {
        content:'';
        display: block;
        background: $darkBkg;
        position: absolute;
        top: .25em;
        bottom: .25em;
        left: .25em;
        right: .25em;
        z-index: -1;
    }

    &:hover {
      background: $darkBkg;
    }
}

.input-button {
    background: #292929;
    border: 2px solid #292929;
    color: #fff;
    padding: 0 .5em;
    cursor: pointer;
    margin: 1em 0; 
    text-transform: lowercase;
    font-size: 1.2rem;

    &:hover {
        background: $grayColor;
    }
}

.san-serif {
    font-family: "futura-pt", helvetica, "san-serif";
}

.serif {
    font-family: "brandon-grotesque", "futura-pt", helvetica, "serif";
}

.uppercase {
    text-transform: uppercase;
}

.tags {
    font-style: italic;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/* CLEARS AND FLOAT STYLES
====================================*/

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clear {
    clear: both;
}

.floatleft {
    float: left;
    &:last-of-type {
        float: none;
    }
}

.floatright {
    float: right;
    &:last-of-type {
        float: none;
    }
}


/* BUFFER STYLES
====================================*/

.topbuff {
    margin-top: 20px;
}

.botbuff {
    margin-bottom: 20px;
}

.botbuff-sm {
    margin-bottom: 10px;
}

.vertbuff {
    margin: 20px 0;
}

.vertpad {
    padding: 20px 0;
}

.thick {
    width: 100%;
    background: #aaa;
    height: 2px;
    border: none;
}

.thin {
    background: #dddddc;
    width: 96%;
    height: 1px;
    border: none;
}

.index-buff {
    margin: 50px auto;
}


/* IFRAME STYLES
====================================*/

.contain-response {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    overflow: hidden;
}

.iframe-response {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* SCREEN STYLES
====================================*/

.desktop-only {
    display: none !important;
    @include media(">=tablet") {
        display: block !important;
    }
}

.mobile-only {
    display: block !important;
    @include media(">=tablet") {
        display: none !important;
    }
}


/* ALIGNMENT STYLES
====================================*/

.aligncenter {
    text-align: center;
}

.alignjustify {
    text-align: justify;
}

.centerjustify {
    text-align: justify;
    margin: 0 auto;
    width: 18em;
}

.center {
    margin: 0 auto;
    display: block;
}


/* COLUMN STYLES
====================================*/

.column-three {
    @include column-count(2);

    @include media(">=tablet") {
        @include column-count(3);
    }
}
