/**
* #.# Foundational Styles
*
* The building blocks to the website: base styles, classes, etc.
*/

html,
body {
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "futura-pt", helvetica, san-serif;
    color: $darkBkg;
}

h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    a {
        font-size: inherit;
    }
}

h2 {
    margin: 25px 0;
    font-size: 2em;
    font-weight: 700;
    a {
        font-family: "futura-pt", helvetica, san-serif;
    }
}

h3 {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 700;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
span,
li,
{
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
    margin-bottom: 1em;
    line-height: 1.6em;
    font-size: 1.2rem;
    color: $darkBkg;

    @include media("<desktop"){
        line-height: 1.6em;
    }
}

input {
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
}

ol,
ul {
    margin: 0 0 0 25px;
    list-style-type: square;
}

a {
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
    text-decoration: none;
    color: $oldColor;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
}

#wrapper {
    margin-top: 40px;
}

blockquote {
    margin-left: 5%;
    font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
    padding: 0 0 0 20px;
    border-left: 5px solid $grayLiteColor;

    p {
        font-size: 1.1rem;
        color: #7b8484;
    }
}


/* GENERAL CLASS STYLES
====================================*/

.button-container {
    margin: 0 auto;
    min-height: 60px;
}

.button {
    padding: 1em;
    background: #fff;
    cursor: pointer;
    margin: 0px auto;
    height: 20px;
    float: left;
    border: 3px solid $oldColor;
    position: relative;
    z-index: 10;
    color: #fff;
    text-transform: lowercase;

    &:after {
        content:'';
        display: block;
        background: $oldColor;
        position: absolute;
        top: .25em;
        bottom: .25em;
        left: .25em;
        right: .25em;
        z-index: -1;
    }

    &:hover {
      background: $oldColor;
    }
}

.input-button {
    background: $oldColor;
    border: 2px solid $oldColor;
    color: #fff;
    padding: 0 .5em;
    cursor: pointer;
    margin: 1em 0; 
    text-transform: lowercase;
    font-size: 1.2rem;

    &:hover {
        background: $oldHoverColor;
    }
}

.tags {
    font-style: italic;
}

.cat-links,
.tag-links {
    text-transform: lowercase;
    font-size: 1.1rem;
}

hr.fancy-line {
    padding: 0;
    border: none;
    border-top: 4px double $grayLiteColor;
    color: $grayLiteColor;
    text-align: center;
}
hr.fancy-line:after {
    content: "\03A8";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1rem;
    padding: 0 0.25em;
    background: white;
}

/* CLEARS AND FLOAT STYLES
====================================*/

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clear {
    clear: both;
}

.floatleft {
    float: left;
    &:last-of-type {
        float: none;
    }
}

.floatright {
    float: right;
    &:last-of-type {
        float: none;
    }
}


/* BUFFER STYLES
====================================*/

.topbuff {
    margin-top: 20px;
}

.botbuff {
    margin-bottom: 20px;
}

.botbuff-sm {
    margin-bottom: 10px;
}

.vertbuff {
    margin: 20px 0;
}

.vertpad {
    padding: 20px 0;
}

.thick {
    width: 100%;
    background: #aaa;
    height: 2px;
    border: none;
}

.thin {
    background: #dddddc;
    width: 96%;
    height: 1px;
    border: none;
}

.index-buff {
    margin: 50px auto;
}


/* IFRAME STYLES
====================================*/

.contain-response {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    overflow: hidden;
}

.iframe-response {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* SCREEN STYLES
====================================*/

.desktop-only {
    display: none !important;
    @include media(">=tablet") {
        display: block !important;
    }
}

.mobile-only {
    display: block !important;
    @include media(">=tablet") {
        display: none !important;
    }
}


/* ALIGNMENT STYLES
====================================*/

.aligncenter {
    text-align: center;
}

.alignjustify {
    text-align: justify;
}

.centerjustify {
    text-align: justify;
    margin: 0 auto;
    width: 18em;
}

.center {
    margin: 0 auto;
    display: block;
}


/* COLUMN STYLES
====================================*/

.column-three {
    @include column-count(2);

    @include media(">=tablet") {
        @include column-count(3);
    }
}
