/* HEADER STYLES
====================================*/

#header {
    width: 100%;
    height: 40px;
    background: $darkBkg;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /*@include box-shadow(0 1px 1px $grayColor);*/
}

#branding {
    position: absolute;
    left:10px;
    top: 50%;
	@include simple-transform(null, null, null, -50%);

    @include media(">=tablet"){
    	
    }

    a {
    	color:#fff;
    	text-decoration: none;
    }
}

#burger {
    display: block;
    position:absolute;
    top:0;
    font-size: 2rem;
    right:10px;
    cursor: pointer;
    z-index: 100;
    top:50%;
    @include simple-transform(null,null,null,-50%);

    i {
        color:#fff;
    }

    @include media(">=tablet"){
    	display: none;   	
    }
}

#main-menu {

    @include media(">=tablet"){
	    position: absolute;
	    right: 10px;
	    width: 50%;
	    top: 50%;
	    @include simple-transform(null, null, null, -50%);
	    margin: 0;
    }

    ul {
    	text-align: right;
    	margin: 0;

    	@include media($phone...){
			padding:0 10px;
		}
    }

    li {
    	@include media(">=tablet"){
	    	display: inline-block;
       	 	font-size: 0.9em;
       		margin: 0 1.6%;
	    }

	    @include media(">=desktop"){
	    	margin: 0 2%;
	    }
    }

    a {
		@include media($phone...){
			color: #fff;
		}

	    @include media(">=tablet"){
	    	color: #fff;
        	font-size: 1.2rem;

        	&:hover {
		        border-bottom: #fff 1px solid;
		        text-decoration: none;
		    }
	    }
	}
}

.menu-navigation-container {
	@include media($phone...){
		display: none;
    	position: fixed;
   	 	right: 0;
    	top: 40px;
    	background: $darkBkg;
	}
}