/* HOME STYLES
====================================*/

#home-image {
    img {
        width: 100%;
    }
}

#home-bio {
	&>div {
		position: relative;		

		&>div:first-of-type {
		    max-width: 250px;
    		margin: 0 auto;	
			
			img {
				width: 100%;
				height: 100%;
			}
		}
		
		&>div:last-of-type {
			
		}
	}
}

#home-content {
    width: 90%;
    margin: 0 auto;

    @include media(">=tablet"){
        width: 70%;
    }

    @include media(">=desktop"){
        width: 50%;
    }

    article[type="blog"] {

    	img {
		    border: 1px #aaa solid;
		    max-width: 200px;
		}
    }

    #home-blog hr:last-of-type {
	    display: none;
	}
}

#home-projects {
	overflow: hidden;

    &>div:last-of-type {
        flex-flow: row wrap;
    }

    article[type="project"] {
	    width: 90%;
	    padding: 20px 5%;
	    min-height: 0;
	    margin: 0;

	    @include media(">=tablet"){
	        width: 46%;
	        padding: 20px 2%;
	        float: left;
	        margin: 20px 0;
	    }

	    @include media(">=desktop"){
	        width: 30%;
        	padding: 0 1.6666666667%;
	    }

	    h2 {
		    line-height: 1.2em;
		    margin: 15px 0;
		    font-size: 2rem;
		    font-weight: 600;
		    min-height: 60px;
		}

		a {
		    font-size: .9em;
		    line-height: 1.4em;
		}

		&>div:first-of-type img {
		    border: 1px #aaa solid;
		    margin: 0 auto;
		    display: block;

		    @include media(">=tablet"){
		        display: block;
        		margin: 0 auto;
		    }
		}

		.thin {
			@include media(">=tablet"){
        		display: none;
		    }

			&:last-of-type {
			    display: none;
			}
		}
	}
}

#home-blog {
	overflow: hidden;
    margin-bottom: 20px;
    padding: 0 5%;

	article[type="blog"] {
	    clear: both;
	    margin: 0 0 20px 0;
	    overflow: hidden;

	    @include media(">=tablet"){
    		padding:0;
	    }

	    h2 {
		    line-height: 1.2em;
		    margin: 0;
		    font-size: 2rem;
		    font-weight: 700;

		    a {
			    margin: 10px 0;
			    font-size: 1.8rem;
			    font-weight: 700;
			    line-height: inherit;
			}
		}

		p {
		    margin: 0;
		}

		aside {
		    display: none;
		}

		img {
		    width: 100%;
		    display: block;
		    border: 1px #aaa solid;
		    height: auto;
		}

		&>div:nth-of-type(2) {
			&>div:first-of-type {
			    width: 225px;
			    margin: 0 auto;

			    @include media(">=tablet"){
		    		float: left;
      				margin: 0;
			    }
			}
		}

		&>div:last-of-type {
		    width: 100%;
		}
	}
}

.home-cat {
	a {
	    font-size: 1.2em;
	}
}
