/**
* #.# Image Styles
*
* Handling most of the image styles on the website
*/

.post-thumb {
    width: 100%;

    @include media(">=desktop"){
        width: 50%;
        float: right;
        padding: 1% 0 2% 2%;
    }

    p {
        padding-bottom: 10px;
        font-style: italic;
        color: #aaa;
    }
}

.post-large {
    width: 100%;
    display: block;
    clear: both;
    margin-bottom: 1.5em;

    p {
        padding-bottom: 10px;
        font-style: italic;
        color: #aaa;
    }
}

.attachment-post-thumbnail {
    width: 95%;
    height: auto;
    margin: 25px auto;
    display: block;

    @include media(">=tablet"){
        width: 90%;
        height: auto;
        margin: 0 5% 25px 0;
        display: block;
        border: 1px #aaa solid;
    }
}

.wp-caption {
    margin: 10px 5%;
    width:100%;
}

.size-medium {
    width: 85%;
    height: auto;
    max-width: 300px;
}

.size-large {
    width:100%;
    height:100%;
}

.size-full {
    width: 100%;
}

.size-large,
.size-full,
.wp-caption {
    height: auto;
    display: block;
    max-width:850px;
}

.entry-content {

    .wp-caption {
        margin: 0 auto;
        display: block;
        margin: 2rem auto;
    }

    .wp-caption-text {
        margin: 10px 0 0 0;
        padding: 4px 0 0 0;
        text-align: left;    
        border-top: #aaa solid 1px;
        font-size: 1rem;
        font-family: "brandon-grotesque", "futura-pt", helvetica, san-serif;
        color: $grayColor;
    }
}

img.aligncenter,
.wp-caption.aligncenter {
    text-align: none;
    margin: 1rem auto;
    display: block;

    @include media(">=tablet"){
        text-align: none;
        margin: 0 auto;
        display: block;
    }
}

img.alignleft,
.wp-caption.alignleft {
    margin: 1em 1em 1em 0;
    display: block;

    @include media(">=tablet"){
        text-align: none;
        float: left;
        display: block;
    }
}

img.alignright,
.wp-caption.alignright {
    margin: 1em 0 1em 1em;
    display: block;

    @include media(">=desktop"){
        text-align: none;
        display: block;
        float: right;
    }
}