/* INDEX AND ARCHIVE STYLES
====================================*/

#content[role="index"],
.entry-segment[role="sec-index"] {

    .button-container {
        margin: 3em auto;
        max-width: initial;

        i {
            display: none;
            float: right;
            margin-left: 1em;
        }       
    }

    article {
        padding-bottom: 1em;
    }
}

.index-container {
    margin: 0 auto;
    width: 100%;
}

.index article {
    padding-bottom: 10px;
    border-bottom: 1px #aaa solid;
    margin: 0 5%;

    &:last-of-type {
        margin-bottom: 25px;
        border-bottom: none;
    }
}

.index-entry {
    @include media(">=tablet"){
        &>aside {
            display: block;
        }
    }
}

.pagination {
    width: 100%;
    position: relative;
    height: 40px;

    &>div:first-of-type {
        left: 0;
        position: absolute;
    }

    &>div:last-of-type {
        right: 0;
        position: absolute;
    }
}

/* PAGE INDEXES - AROUND WORK
====================================*/
.entry-segment[role="prim-index"]{
    .prim-clip {
        position: relative;
        height: 650px;

        @include media( ">=desktop" ){
            height: 351px;     
        }

        .button-container {
            position: absolute;
            top: 100%;
            left: 50%;
            @include simple-transform( null, null, -50%, -100% );

            @include media( ">=desktop" ){
                right: 0;
                left: initial;
                top: 50%;
                @include simple-transform( null, null, null, -50% );
            }

        }

        div[role="image"]{
            width: 100%;

            @include media( ">=desktop" ){
                position: absolute;
                width: 70%;
                height: 351px;
            }

            img {
                width: 100%;

                @include media( ">=desktop" ){
                    height: 100%;
                }
            }

        }

        div[role="content"] {
            position: relative;
            top: -20px;            
            width: 80%;
            padding: 20px 10px 0 10px;            
            margin: 0 auto;
            background-color: #fff;

            @include media( ">=desktop" ){
                position: absolute;
                right: 15%;
                top: 50%;
                @include simple-transform( null, null, null, -50% );   
                width: 50%;                           
            }
        }       

        p {
            font-size: 1.1rem;
        }   

        h3 {
            margin: 0;
            text-align: center;         
        }   

        h4 {
            margin: 10px 0;
            font-style: italic;
            color: #aaa;
            text-align: center;
        }

        hr {
            border-bottom: #aaa 1px solid;
            width: 30%;
                margin: 1em auto;
        }

    }
}