/**
* #.# Page Template Styles
*
* Styles related to special page templates and the segments therein
*/

#content[role="home"],
#content[role="services"],
#content[role="about"] {	

	h2 {
		text-transform: uppercase;
		color: $grayColor;
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	&>section {
		margin-bottom: 2em;
	}
}

.entry-segment {
	margin-bottom: 1em;
	position: relative;
	overflow: hidden;
}

/* Latest post Segment
--------------------------------*/
.entry-segment[role="latest-post"] {
	.button-container {
		max-width: 120px;
	}
}

/* Featured Image Segment
--------------------------------*/
.main-image {
	position: relative;
	background: rgba(0,0,0,1);

	&>div[role="main-head"] {
		position: absolute;
		left: 50%;
		top: 40%;
		@include simple-transform( null, null, -50%, -40% );
		width: 100%;

		@include media( ">=desktop" ){
			top: 45%;
			@include simple-transform( null, null, -50%, -45% );
		}
		
	}

	&>div[role="second-head"] {
		position: absolute;
		left: 50%;
		top: 75%;
		@include simple-transform( null, null, -50%, -75% );
		width: 100%;

		@include media( ">=tablet" ){
			top: 65%;
			@include simple-transform( null, null, -50%, -65% );
		}

		@include media( ">=desktop" ){
			top: 55%;
			@include simple-transform( null, null, -50%, -55% );
		}
	}

	&>div[role="image"] {
		opacity: 0.7;
	}

	h1 {
		color: #fff;
		font-size: 2rem;

		@include media( ">=tablet" ){
			font-size: 3rem;	
		}
	}

	h2 {
		color: #fff;
		font-weight: 400;

		@include media( $phone... ){
			font-size: 1.5rem;	
		}
	}
}


/* Service List Segment
--------------------------------*/
.entry-segment[role="service-list"] {

	.service-list-item {
		height: 160px;
		margin-bottom: 1em;
		padding-bottom: 25em;
		position: relative;

		@include media( ">=tablet" ){
			width: 48%;
		}

		@include media( ">=desktop" ){
			padding-bottom: 0;
			width: 100%;	
		}
	}

	div[role="image"] {
		width: 50%;
    	margin: 0 auto;

	   	@include media( ">=tablet" ){
			width: 70%;
		}

		@include media( ">=desktop" ){
			width: 20%;
			float:left;
		}
	}

	div[role="content"] {

	   	@include media( ">=desktop" ){
			width: 60%;
			float: left;    
			margin-left: 2%;
		}
	}

	.button-container {
		position: absolute;
		left: 50%;
		@include simple-transform(null, null, -50%);

		@include media(">=tablet", "<=desktop"){
			min-width: 133px;
		}

		@include media(">=desktop"){
			position: relative;
			left: 0;
			@include simple-transform(null, null, 0);
			float: right;    
			margin: 40px auto;
		}		
	}

	p {
		font-size: 1.1rem;
	}

	h3 {		
		text-align: center;

		@include media(">=desktop"){
			margin: 0 0 10px 0;
			text-align: left;
		}		
	}
}

/* Clip Segment
--------------------------------*/
.entry-segment[role="clips"],
.service-item {

	.clip {
		padding-bottom: 6em;
		position: relative;
		overflow: hidden;

		@include media( ">=desktop" ){
			width: 45%;
			height: 600px;
			float: left;	
			padding-bottom: 0;


			&:nth-child(even){
				float: right;
			}
		}

		.button-container {
			position: absolute;
			left: 50%;
			@include simple-transform( null, null, -50% );
		}

		div[role="content"] {
			width: 80%;
		    margin: 0 auto;
		    background-color: #fff;
		    position: relative;
		    padding: 20px 10px 0 10px;
		    top: -20px;

		   	@include media( ">=desktop" ){
				padding: 20px 10px 50px 10px;
				top: -100px;
			}
		}		

		p {
			font-size: 1.1rem;
		}	

		h3 {
			margin: 0;
		    text-align: center;		    
		}	

		h4 {
			margin: 10px 0;
			font-style: italic;
			color: #aaa;
			text-align: center;
		}

		hr {
			border-bottom: #aaa 1px solid;
			width: 30%;
				margin: 1em auto;
		}

		img {
			@include media( ">=desktop" ){
				min-height: 170px;
				max-height:210px;	
			}
		}
	}
}

/* Testimonials Segment
--------------------------------*/
.entry-segment[role="testimonials"] {
	padding-bottom: 6em;

	.testimonial {
		overflow: hidden;
	}

	div[role="image"] {
		width: 50%;
    	margin: 0 auto;

	   	@include media( ">=desktop" ){
			width: 20%;
			float:left;
			margin: 0;
		}
	}

	div[role="content"] {
	   	@include media( ">=desktop" ){
			width: 70%;
			float: right;    
		}

		&>div:first-of-type {
			position: relative;
			padding-top: 1em;

			i {
				color: $grayLiteColor;
				font-size: 2rem;
				position: absolute;
   				left: 0;
    			top: 5px;

    			@include media( ">=desktop" ){
					left: -35px;
				}
			}

			p {
				margin-left: 2em;

				@include media( ">=desktop" ){
					margin-left: 0;					  
				}
			}
		}

		&>div:last-of-type {
			text-align: right;
			float: right;
			width: 70%;

			@include media( ">=tablet" ){
				width: 100%;
				float: none;			  
			}		

			p {
				color: $grayLiteColor;
			}
		}
	}

	.button-container {
		position: absolute;
		left: 50%;
		@include simple-transform( null, null, -50% );
	}
}

/* Bio Segment
--------------------------------*/
.entry-segment[role="bio"] {
	padding-bottom: 6em;

	.button-container {
		position: absolute;
    	left: 50%;
    	@include simple-transform( null, null, -50% );
	}

	div[role="image"] {
	   	width: 70%;
    	margin: 0 auto 1em auto;

	   	@include media( ">=desktop" ){
			width: 30%;
			float: left;
			margin: 0;
		}

		img {
			width: 100%;
		}
	}	

	div[role="content"] {
		position: relative;

		@include media( ">=desktop" ){
			width: 60%;
			float: right;    
		}
	}	
}
#content[role="about"] .entry-segment[role="bio"] {
	padding-bottom: 0;
}

/* Contact Segment
--------------------------------*/
.entry-segment[role="contact"] {

	&>div:first-of-type {
		min-height: 540px;
    	background: #aaa;
    	margin-bottom: 2em;

		@include media( ">=desktop" ){
			width: 45%;
			float: left;
    		margin-bottom: 0;
		}
	}

	&>div:last-of-type {
		@include media( ">=desktop" ){
			width: 45%;
			float: right;    
		}
	}
}

/* About Skills Segment
--------------------------------*/
.entry-segment[role="skills"] {

	&>div[role="flex"] {
		display: flex;
		flex-flow: row wrap;
	}

	.about-details {
		width: 100%;
		flex-grow: 1;
    	flex-basis: auto;

		@include media( ">=tablet" ){
			width: 45%;    		
		}
	}
}

/* About Work Segment
--------------------------------*/
.entry-segment[role="work"] {
	&>div[role="flex"] {
		display: flex;
		flex-flow: row wrap;
	}

	article {
		width: 45%;
		flex-grow: 1;
    	flex-basis: auto;

		@include media( ">=desktop" ){
			width: 30%;    		
		}
	}

	.about-work {

		&>div[role="image"] {
			display: block;
			margin: 0 auto;
			width: 150px;
			height: 150px;
		}

		&>div[role="content"] {
			text-align: center;

			h3 {
				color: $oldColor;

				&:hover {
					color: $oldHoverColor;
				}
			}
		}

	}
}


/* Service Details Segment
--------------------------------*/
.entry-segment[role="service-details"] {
	.service-item {
		&>div[role="top"] {
			margin-bottom: 2em;
		}

		&>div[role="bottom"] {
			overflow: hidden;
		}

		&>div[role="bottom"]>div:first-of-type {		

			@include media( ">=desktop" ){
				float: left;
				width: 48%;
			}
		}

		&>div[role="bottom"]>div:last-of-type {
			overflow: hidden;
			position: relative;

			@include media( ">=desktop" ){
				float: right;
				width: 48%;
			}
		}

		p,
		li,
		span {
			font-size: 1.1rem;
		}
	}
}